/* font face */
@font-face {
    font-family: 'ambleregular';
    src: url('Amble-Regular-webfont.eot');
    src: url('Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-Regular-webfont.woff2') format('woff2'),
         url('Amble-Regular-webfont.woff') format('woff'),
         url('Amble-Regular-webfont.ttf') format('truetype'),
         url('Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: ambleregular,sans-serif;
    box-sizing: border-box;
}
/* start nav-bar */

.navbar-brand img{
    width: 80px;
    height: 40px;
}
.navbar-collapse .navbar-nav li a{
    color: black!important;
    font-weight: 400;
}
.navbar-collapse .navbar-nav li a:hover{
    color: green!important;
    
}
.navbar-collapse form button{
    border-radius: 0px!important;
    color: white;
    font-weight: 500;
}
.navbar-collapse input{
    width: 90px!important;
    border: none!important
}
/* end nav-bar */

/* start section about */
#about{
    margin-top: 40px;
    width: 100%!important;
    color: white;
}
#about .container-fluid {
    width: 100%; 
    padding-right: none; 
    padding-left: none; 
    margin-right: 0; 
    margin-left: 0;
}
#about .container-fluid .col-md-6,.col-sm-12{
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

#about .about-us{
    background: linear-gradient(to right,rgb(30, 100, 93),rgb(30,163 , 151));
    margin-left: 140px;
    margin-top: 80px;
    width: 500px;
}
#about .about-p{
  padding-left: 40px ;
}
#about .about-us .about-para{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 60px;
    padding-bottom: 100px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
}
#about .about-us .about-but{
    margin-left: 50px;
    margin-right: 30px;
    padding-bottom: 80px;
}
#about .about-us .about-but button{
    width: 150px;
    font-weight: 500;
}

#about .about-ut img{
    width: 100%;
    height: 85%;
}
/* start section about */

/* start section formation */
#formation{
    margin-top: 10px;
}
#formation .forma1{
    background: linear-gradient(to right,rgb(30, 100, 93),rgb(30,163 , 151));
    border-radius: 10px;
    padding: 60px 30px;
    color: white;
}
#formation .forma1 h1{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
}
#formation .forma1 .bloc-for{
    display: flex;
    
}
#formation .forma1 .for{
    display: flex;
    margin-right: 100px;
}
#formation .forma1 .for .for-img{
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#formation .forma1 .for .for-img img{
    width: 50px;
}

#formation .forma1 .for h2{
    font-size: 16px;
    margin-top: 35px;
    width: 130px;
}
#formation .forma2{
    padding-left: 10px;
}
#formation .forma2 .for1{
    margin-left: 10px;
    border: 1px solid rgb(30, 100, 93);
    border-radius: 10px;
}
#formation .forma2 .for1 h1{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
#formation .forma2 .for1 p{
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 35px;  
}
#formation .forma2 .for1 button{
   margin-left: 200px;
   width: 150px;
   margin-bottom: 48px;
}
/* endsection formation */

/* start section cours */
#cours{
    margin-top: 40px;
}
#cours .row h1{

}
#cours .cours-inf{
}
#cours .cours-inf .bloc-cours{
    border: 1px solid #F44336;
    border-radius: 10px;
    padding: 40px 40px;
    text-align: center;
}
#cours .cours-inf .bloc-cours img{
 width: 150px;
}
#cours .cours-inf .bloc-cours h2{
    margin-top: 20px;
 font-size: 18px;
 color:#F44336; ;
}

#cours .cours-inf1 .bloc-cours1{
    border: 1px solid #009688;
    border-radius: 10px;
    padding: 40px 40px;
    text-align: center;
}
#cours .cours-inf1 .bloc-cours1 img{
 width: 150px;
}
#cours .cours-inf1 .bloc-cours1 h2{
    margin-top: 18px;
    font-size: 18px;
    color:#009688;
}
#cours .cours-inf2 .bloc-cours2{
    border: 1px solid #FF9800;
    border-radius: 10px;
    padding: 40px 40px;
    text-align: center;
}
#cours .cours-inf2 .bloc-cours2 img{
 width: 150px;
}
#cours .cours-inf2 .bloc-cours2 h2{
    margin-top: 18px;
    font-size: 18px;
    color:#FF9800;
}
#cours .cours-inf3 .bloc-cours3{
    border: 1px solid #009688;
    border-radius: 10px;
    padding: 40px 40px;
    text-align: center;
}
#cours .cours-inf3 .bloc-cours3 img{
 width: 150px;
}
#cours .cours-inf3 .bloc-cours3 h2{
    margin-top: 18px;
    font-size: 18px;
    color:#009688;
}
   
/* end section cours */

/* start section diplome */

#diplome .container-fluid {
    width: 100%; 
    padding-right: none; 
    padding-left: none; 
    margin-right: 0; 
    margin-left: 0;
}
#diplome  .wave1 {
    position: relative;
    width: 100%;
    padding-right: 0; 
    padding-left: 0;
}

#diplome{
    background-color: #F44336;
    margin-top: 40px;
    
    color: white;
}
#diplome .diplome-title{
    margin-top: 30px;
    margin-bottom: 30px;
}
#diplome .diplome-bloc{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
#diplome .diplome-bloc img{
    width: 40px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}
#diplome .diplome-bloc .diplome-para h2{
    font-weight: 450;
}
#diplome .diplome-bloc .diplome-para p{
    width: 450px;
}
#diplome .wave1 img{
    position: relative;
    width: 100%;
    padding-right: 0;
    adding-left: 0;
}
/* end section diplome */
/* start section coachs */

#coachs .container {
    width: 100%; 
    padding-right: none; 
    padding-left: none; 
    margin-right: 0; 
    margin-left: 0;
}
#coachs .container-fluid {
    position: relative;
    width: 100%!important;
}
#coachs .container-fluid  .coachs-para{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
#coachs .container-fluid .row .coachs-title{
    padding-left: 50px;
    padding-right: 50px;
}
#coachs .container-fluid .coachs-para p{
    font-weight: 600;
}
#coachs .container-fluid .coachs-but{
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}
#coachs .container-fluid .coachs-but button{
   margin-left: 100px;
}
#coachs .container-fluid .carousel{
    padding-left: 50px;
    padding-right: 50px;
}
#coachs .container-fluid .carousel .carousel-inner .carousel-item .client{
    border: 1px solid #000;
    padding: 20px;
}
#coachs .container-fluid .carousel .carousel-inner .carousel-item .client img{
    width: 100%;
}
#coachs .container-fluid .carousel .carousel-inner .carousel-item .client p{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;

}
#coachs .container-fluid .carousel .carousel-indicators{
    
    position: relative;
   top: 400px;
}
#coachs .container-fluid .carousel .carousel-indicators li{
    background-color: black;
    border-radius: 50%;
    width: 15px;
   height: 15px;
   margin-right: 15px;
}
/* end section coachs */

/* end section avtivites */
#activite .container-fluid{
    width: 100%; 
    padding-right: 0; 
    padding-left: 0; 
    margin-right: 0; 
    margin-left: 0;
}
#activite .wave2 {
    position: relative;
    width: 100%;
    padding-right: 0; 
    padding-left: 0;
}
#activite .wave2 .wave2-img img{
   width: 1364px;

}
#activite{
    background-color: #F44336;
    margin-top: 150px;
    color: white;
}
#activite .activite-title{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#activite .activite-para {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: px;
}
#activite .active-row{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    
}
#activite .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: ;
    }
#activite  .active-photo .photo1{
    padding-bottom: 20px;
    padding-left: 20px;
    
}
#activite  .active-photo .photo2{
    padding-left: 20px;
    
}
#activite  .active-photo .photo img{
    width: 100%;
}
#activite  .active-photo .photo1 img{
    height: 164px;
    width: 90%;
}
#activite  .active-photo .photo2 img{
    height: 164px;
    width: 90%;
}
#activite .active-para .para1{
    margin-bottom: 40px;
    text-align: center;

}
#activite .active-para .para1 p{
    margin-bottom: 55px;
    text-align: left;
}
#activite .active-para .para1 a{
    color: white;
    margin-top: 100px:!important;

}
#activite .active-para .para2{
    margin-bottom: 40px;
    text-align: center;

}
#activite .active-para .para2 p{
    margin-bottom: 55px;
    text-align: left;
}
#activite .active-para .para2 a{
    color: white;
    margin-top: 100px:!important;

}
/* end section activites */

/* end section partenaires */
#partenaires .partenaires-title{
    margin-top: 35px;
    margin-bottom: 35px;
}
#partenaires .bloc-partenaire{
    background-color: #F0FAF9;
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 100px;

}
#partenaires .bloc-partenaire .partenaires-title .partenaires-img{
    background-color: #FFF;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(230, 221, 221, 1.0);
}
#partenaires .bloc-partenaire .partenaires-title .partenaires-img1{
    background-color: #FFF;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(230, 221, 221, 1.0);
}
#partenaires .bloc-partenaire .partenaires-title .partenaires-img2{
    background-color: #FFF;
    text-align: center;
    padding-top: 69px;
    padding-bottom: 69px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(230, 221, 221, 1.0);
}
#partenaires .bloc-partenaire .partenaires-title .partenaires-img3{
    background-color: #FFF;
    text-align: center;
    padding-top: 51px;
    padding-bottom: 51px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(230, 221, 221, 1.0);
}
#partenaires .partenaire-but{
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
}
/* end section partenaires */

/* end section footer */
#foot-sec .foot-sec1{
    background-color: #009688;
    color: white;
    padding-top: 25px;
    padding-left: 50px;
}
#foot-sec .foot-sec1 .foot-sec11 P img{
    width: 30px;
}
#foot-sec .copy{
    text-align: right;
    margin-bottom: 50px;
}

/* end section footer */